<h1>Updating color inks of <%= @printer.name %></h1>

<% form_for @ink, :url => { :action => :update } do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :printer_id, :value => @printer.id %>

<p>
  <%= f.label :yellow %><br />
  <%= f.text_field :yellow %>
</p>

<p>
  <%= f.label :magenta %><br />
  <%= f.text_field :magenta %>
</p>

<p>
  <%= f.label :cyan %><br />
  <%= f.text_field :cyan %>
</p>

<p>
  <%= f.submit "Update" %>
</p>

<% end %>

<%= link_to 'Back', printer_path(@printer) %>
