<h1>Color inks of <%= @printer.name %></h1>

<table>
  <tr>
    <th>Cyan</th>
    <th>Magenta</th>
    <th>Yellow</th>
  </tr>

  <tr>
    <td><%=h @ink.cyan %></td>
    <td><%=h @ink.magenta %></td>
    <td><%=h @ink.yellow %></td>
    <td><%= link_to 'Show', printer_ink_path(@printer, @ink) %></td>
    <td><%= link_to 'Edit', edit_printer_ink_path(@printer, @ink) %></td>
  </tr>
</table>
<br />
