<h1>New color ink of <%= @printer.name %></h1>

<% form_for @ink do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :printer_id, :value=>@printer.id %>
<p>
  <%= f.label "Yellow" %><br />
  <%= f.text_field :yellow %>
</p>

<p>
  <%= f.label "Magenta" %><br />
  <%= f.text_field :magenta %>
</p>

<p>
  <%= f.label "Cyan" %><br />
  <%= f.text_field :cyan %>
</p>

<p>
  <%= f.submit "Create" %>
</p>

<% end %>

<%= link_to 'Back', printer_path(@printer) %>
