<h1>Color inks of <%= @printer.name %></h1>

<p>
  <b>Yellow:</b>
  <%=h @ink.yellow %>
</p>

<p>
  <b>Cyan:</b>
  <%=h @ink.cyan %>
</p>

<p>
  <b>Magenta:</b>
  <%=h @ink.magenta %>
</p>

<%= link_to 'Edit', edit_printer_ink_path(@printer) %> | <%= link_to 'Back', printers_path %>
