<h1>New warning type</h1>

<% form_for(@type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Background color" %><br />
    <%= f.text_field :bgcolor %>
  </p>

  <p>
    <%= f.label "Quantity" %><br />
    <%= f.text_field :qnt %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', printers_path %>
