<h1>Updating maintenance kit of <%= @printer.name %></h1>

<% form_for @kit, :url => { :action => :update } do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :printer_id, :value => @printer.id %>

<p>
  <%= f.label "Quantity" %><br />
  <%= f.text_field :qnt %>
</p>

<p>
  <%= f.submit "Update" %>
</p>

<% end %>

<%= link_to 'Back', printer_path(@printer) %>
