<h3>Export/Import printer list</h3>

<p>
  <% form_for :printer, :url => { :action => :export } do |f| %>
    <%= f.error_messages %>
    <%= f.label "Give name to file" %><br />
    <%= f.text_field :name %>
    <%= f.submit "Export" %>
  <% end %>
</p>
<p>
  <strong>Or</strong>
</p>
<p>
  <% form_for :printer, :url => { :action => :import } do |f| %>
    <%= f.error_messages %>
    <%= f.label "Locate file" %><br />
    <%= f.file_field :path %>
    <%= f.submit "Import" %>
  <% end %>
</p>
