  <% p = Printer.new %>
  <% form_remote_for(p) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label "Black ink quantity:" %><br />
      <%= f.text_field :black %>
    </p>

    <p>
      <%= f.label "Has color inks?"%><br />
      <%= f.check_box :iscolor, :onclick => "new Effect.toggle('color_inks')" %>
    </p>

    <div id="color_inks" style="display:none; position:relative;">
      <p id="yellow">
        <%= f.label "Yellow ink quantity:" %><br />
        <%= text_field :formink, :yellow_ink %>
      </p>

      <p id="magenta">
        <%= f.label "Magenta ink quantity:" %><br />
        <%= text_field :formink, :magenta_ink %>
      </p>

      <p id="cyan">
        <%= f.label "Cyan ink quantity:" %><br />
        <%= text_field :formink, :cyan_ink %>
      </p>
    </div>

    <p>
      <%= f.label "Has maintenance kit?" %><br />
      <%= f.check_box :haskit, :onclick => "new Effect.toggle('kits')" %>
    </p>

    <div id="kits" style="display:none; position:relative;">
      <p>
        <%= f.label "Maintenance kit quantity:" %><br />
        <%= text_field :formkit, :qntkit %>
      </p>
    </div>

    <p>
      <%= f.submit "Add", :method => :create %>
    </p>
  <% end %>
