  <tr id="printer_<%= printer.id %>">
    <td><%= in_place_editor_field :printer, 'name', :object=>printer %></td>
    <td class="black"><%= in_place_editor_field :printer, 'black', {:object => printer} %></td>
<% if printer.iscolor? and printer.ink %>
      <td><%= printer.ink.yellow %></td>
      <td><%= printer.ink.magenta %></td>
      <td><%= printer.ink.cyan %></td>
<% else %>
      <td></td>
      <td></td>
      <td></td>
<% end %>
<% if printer.haskit? and printer.kit %>
      <td><%= printer.kit.qnt %></td>
<% else %>
      <td></td>
<% end %>
    <td>
      <%= link_to image_tag("edit.png", :alt => 'Edit', :size => "16x16"), edit_printer_path(printer)%>
    </td>
    <td>
      <%#= link_to image_tag("delete.png", :alt => 'Destroy', :size => "16x16"), printer, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to_remote image_tag("delete.png", :alt => 'Destroy', :size => "16x16"), :url => printer, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
