<h1>Updating printer</h1>

<% form_for(@printer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :black %><br />
    <%= f.text_field :black %>
  </p>

  <p>
    <%= f.label "Has color inks?"%><br />
    <%= f.check_box :iscolor %>
  </p>

  <p>
    <%= f.label "Has maintenance kit?"%><br />
    <%= f.check_box :haskit %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @printer %> |
<%= link_to 'Back', printers_path %>

<% if @printer.iscolor? %>
  <% if @printer.ink %>
    <%= link_to 'Manage color inks', edit_printer_ink_path(@printer) %>
  <% else %>
    <%= link_to 'Create color inks', new_printer_ink_path(@printer) %>
  <% end %>
<% end %>

<% if @printer.haskit? %>
  <% if @printer.kit %>
    <%= link_to 'Manage maint. kit', edit_printer_kit_path(@printer) %>
  <% else %>
    <%= link_to 'Create maint. kit', new_printer_kit_path(@printer) %>
  <% end %>
<% end %>
