<h1>Printer/Fax supplies</h1>

<table>
  <tr>
    <td>
      <table>
        <tr>
          <th>Name</th>
          <th>Black</th>
          <th style="background-color:#FEFF80">Yellow</th>
          <th style="background-color:#FF80FE">Magenta</th>
          <th style="background-color:#80FFFE">Cyan</th>
          <th>Maint. kit</th>
          <th></th>
          <th></th>
        </tr>
      <%= render :partial => "supply", :as => :printer, :collection => @printers %>
      </table>
    </td>
    
    <td>
      <%= render :partial => "backuping", :as => :printer %>
    </td>
  </tr>
</table>
<br />

<%= image_tag("add.png", :size => "16x16") %>
<%= link_to 'Add new supply', "javascript:ShowHide('open_form','closed_form');" %>

<div id="open_form" style="display:none;position:relative;">
  <h2>New supply</h2>
  <div id="question_errors"></div>
  <%= render :partial => "new" %>
</div>
