<h1>New printer</h1>

<% form_for(@printer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :black %><br />
    <%= f.text_field :black %>
  </p>

  <p>
    <%= f.label "Has color inks?"%><br />
    <%= f.check_box :iscolor %>
  </p>

  <p>
    <%= f.label "Has maintenance kit?"%><br />
    <%= f.check_box :haskit %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', printers_path %>
