<p>
  <b>Name:</b>
  <%=h @printer.name %>
</p>

<h3>Inks</h3>

<p>
  <b>Black:</b>
  <%=h @printer.black %>
</p>

<% if @printer.iscolor? and @printer.ink %>
  <p>
    <b>Yellow:</b>
    <%=h @printer.ink.yellow %>
  </p>
  <p>
    <b>Magenta:</b>
    <%=h @printer.ink.magenta %>
  </p>
  <p>
    <b>Cyan:</b>
    <%=h @printer.ink.cyan %>
  </p>
<% end %>

<% if @printer.haskit? and @printer.kit %>
  <p>
    <b>Maint. kit:</b>
    <%=h @printer.kit.qnt %>
  </p>
<% end %>

<%= link_to 'Edit', edit_printer_path(@printer) %> | <%= link_to 'Back', printers_path %>

<% if @printer.iscolor? %>
  <% if @printer.ink %>
    <%= link_to 'Manage color inks', printer_ink_path(@printer) %>
  <% else %>
    <%= link_to 'Create color inks', new_printer_ink_path(@printer) %>
  <% end %>
<% end %>

<% if @printer.haskit? %>
  <% if @printer.kit %>
    <%= link_to 'Manage maint. kit', printer_kit_path(@printer) %>
  <% else %>
    <%= link_to 'Create maint. kit', new_printer_kit_path(@printer) %>
  <% end %>
<% end %>
